@charset "UTF-8";

// Overridden variables.

$font-family: 'Gilroy', sans-serif;

// Colors.

$color-text-light: #e0e0e0;
$color-text-light-highlighted: #FFF;
$color-text-light-secondary: #a0a1a1;
$color-text-light-disabled: #6b6d6d;
$color-light-divider: #333333;

$color-primary-base: $cyan;
$color-accent-base: $red;

$color-primary: #00b8d4;
$color-primary-hover: darken($color-primary, 3);
$color-primary-active: darken($color-primary, 6);

$color-accent: #f90000;
$color-accent-hover: darken($color-accent, 3);
$color-accent-active: darken($color-accent, 6);

$color-primary-light: $color-primary;
$color-primary-light-hover: lighten($color-primary, 5);
$color-primary-light-active: lighten($color-primary, 10);

$color-accent-light: $color-accent;
$color-accent-light-hover: lighten($color-accent, 5);
$color-accent-light-active: lighten($color-accent, 10);

$color-bg-dark: #101313;
$color-bg-dark-card: lighten($color-bg-dark, 5);
$color-bg-dark-bar: #000;
$color-bg-dark-hover: lighten($color-bg-dark-card, 6);

// Line colors.

$color-msk-1: #D51317;
$color-msk-1-disabled: #411314;
$color-msk-2: #4AAF50;
$color-msk-2-disabled: #1F3A22;
$color-msk-3: #0072BA;
$color-msk-3-disabled: #0C2B3D;
$color-msk-4: #33B1E7;
$color-msk-4-disabled: #193B48;
$color-msk-5: #915133;
$color-msk-5-disabled: #30231B;
$color-msk-6: #EF7D00;
$color-msk-6-disabled: #482E0E;
$color-msk-7: #943E90;
$color-msk-7-disabled: #311E32;
$color-msk-8: #FFDD00;
$color-msk-8-disabled: #4C460E;
$color-msk-9: #ADACAC;
$color-msk-9-disabled: #373939;
$color-msk-10: #B4CC04;
$color-msk-10-disabled: #39410F;
$color-msk-11: #88CDCF;
$color-msk-11-disabled: #2E4242;
$color-msk-12: #BAC8E8;
$color-msk-12-disabled: #3B4048;
$color-msk-14: $color-msk-1;
$color-msk-14-disabled: $color-msk-1-disabled;
$color-msk-15: #EE7BAE;
$color-msk-15-disabled: #482D3A;
$color-msk-16: #00866D;
$color-msk-16-disabled: #0C302A;
$color-msk-17: #28313E;
$color-msk-17-disabled: #161B1E;
$color-msk-18: #C0175D;
$color-msk-18-disabled: #3C1426;
$color-msk-d1: #F7A600;
$color-msk-d1-disabled: #4A380E;
$color-msk-d2: #E94282;
$color-msk-d2-disabled: #461F2F;
$color-msk-d3: #EA5B0B;
$color-msk-d3-disabled: #472511;
$color-msk-d4: #45B385;
$color-msk-d4-disabled: #1D3B30;
$color-msk-d5: #76B82A;
$color-msk-d5-disabled: #2A3C19;
$color-msk-inner: #FFFFFF;
$color-msk-inner-disabled: #4C4E4E;

$color-spb-1: #EF4137;
$color-spb-1-disabled: #481F1C;
$color-spb-2: #1B75BC;
$color-spb-2-disabled: #132C3D;
$color-spb-3: #3BB54A;
$color-spb-3-disabled: #1B3C21;
$color-spb-4: #FBB042;
$color-spb-4-disabled: #4B3A1F;
$color-spb-5: #804098;
$color-spb-5-disabled: #2C1E34;
$color-spb-6: #8D5B2D;
$color-spb-6-disabled: #2F251A;

