@charset "UTF-8";

.maplibregl-style-list {
  display: none;
}

.maplibregl-ctrl-group .maplibregl-style-list button {
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  font-size: 14px;
  padding: 8px 12px;
  text-align: right;
  width: 100%;
  height: auto;
}

.maplibregl-style-list button.active {
  font-weight: bold;
}

.maplibregl-style-list button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.maplibregl-style-list button + button {
  border-top: 1px solid #ddd;
}

.maplibregl-style-switcher {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.99 18.54l-7.37-5.73L3 14.07l9 7 9-7-1.63-1.27-7.38 5.74zM12 16l7.36-5.73L21 9l-9-7-9 7 1.63 1.27L12 16z' fill='%23333333'/%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
}

.maplibregl-ctrl-top-right {
  top: 64px;
  right: -2px;
}

.maplibregl-ctrl-bottom-right  {
  bottom: 8px;
  right: 76px;
}

.maplibregl-ctrl-attrib.maplibregl-compact {
  min-height: 24px;
}

.maplibregl-popup-content {
  padding: 12px 16px;
  font-size: 16px;
  font-family: 'Gilroy', sans-serif;
}

@media (min-width: 992px) {
  .maplibregl-ctrl-top-right {
    right: 12px;
  }

  .maplibregl-ctrl-bottom-right  {
    bottom: 48px;
    right: 12px;
  }
}
