@charset "UTF-8";

@import "breakpoint";

@import "../../contrib/material_base/sass/reset";
@import "../../contrib/material_base/sass/color-palette";
@import "variables";
@import "../../contrib/material_base/sass/variables";
@import "../../contrib/material_base/sass/modules";
@import "fonts";

.material-icons, .icon-left:before, .icon-right:after { font-family: 'Material Icons', 'Material Icons Local'; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.25px;
  font-weight: 500;
  color: $color-text-light;
}

/* layout */
html, body, #page, #navbar { min-width: 320px; }
.card-holder { margin-top: 0; }
#before-main { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 0; }
#main { z-index: 1; }

.tooltip.tooltip-no-br:before { white-space: nowrap; }

#actions { z-index: 10; position: relative; }
#block-share-toggle { position: fixed; bottom: 8px; right: 8px;
  .share-list { display: none; position: absolute; right: 8px; bottom: 72px;
    //.tooltip:before { bottom: auto; left: auto; margin-left: 0; right: calc(100% + 16px); margin-top: -4px; display: inline-block; width: auto; }
    //.fab {  }
    .twitter { background: #1da1f2; }
    .facebook { background: #3B5998; }
    .google-plus { background: #dd4b39; }
    .vk { background: #507299; }
    .email { background: #616161; }
  }
  &:hover .share-list,
  &:focus .share-list,
  &:active .share-list { display: block; }
}
#share-toggle-fab { position: absolute; right: 0; bottom: 0;
  .fab { background: $color-bg-card; color: $color-text; }
}

/* d8 toolbar */
.toolbar-horizontal {
  &.toolbar-tray-open.toolbar-compact {
    &.navbar-fixed #navbar, #drawer { top: 39px; }
  }
  &.toolbar-tray-open.admin-toolbar.toolbar-compact {
    &.navbar-fixed #navbar, #drawer { top: 39px; }
  }
}

@include breakpoint($md) {
  .toolbar-horizontal {
    &.toolbar-tray-open.toolbar-compact {
      &.drawer-below-navbar #drawer { top: 39px + $navbar; }
    }
    &.toolbar-tray-open.admin-toolbar.toolbar-compact {
      &.drawer-below-navbar #drawer { top: 39px + $navbar; }
    }
  }
}

/* common styles */

a { @include link-colors($color-primary, $color-primary-hover, $color-primary-active); }

article a[href^="#"]:not([href="#"]):not(.btn) { border-color: $color-primary;
  &:hover { border-color: $color-primary-hover; }
  &:active { border-color: $color-primary-active; }
}

article blockquote { border-color: $color-accent; }

#content { position: relative; }

.layout-map {
  &, &.toolbar-compact.toolbar-horizontal.toolbar-tray-open { padding-top: 0 !important; }
  #header { display: none; } // this layout don't use header
  #content { position: absolute; top: 0; bottom: 0; left: 0; right: 0; overflow: hidden; }
  #footer { position: fixed; bottom: 0; left: 0; right: 0; }
  #main { position: fixed; overflow: auto; overflow-x: hidden; left: 0; top: 0; bottom: 0; right: 0; width: 100%; background: $color-bg;
    margin-left: -100%; transition: margin .2s;
  }
  &.main-content-open #main { margin-left: 0; }
  &.theme-dark #main { background: $color-bg-dark; }
  #main-content-toggle { display: none; }
  #actions { z-index: 11; }
  #main-content-toggle-fab { position: fixed; bottom: 8px; right: 8px;
    a { color: $color-text-light-highlighted; }
    a:before { transition: transform 0.5s ease; }
  }
  &.main-content-open #main-content-toggle-fab {
    a:before { content: "map"; transform: rotate(180deg); }
  }

  #block-share-toggle { position: fixed; bottom: 80px; right: 8px; }
  //drupal fix
  #drupal-live-announce { height: 0; }
  @include breakpoint($md) {
    #main { width: 408px; right: auto; @include z-level-2; margin-left: -408px;
      &::-webkit-scrollbar { width: 6px; position: absolute; }
      &::-webkit-scrollbar-button { display: none; }
      &::-webkit-scrollbar-track-piece { background: #333; }
      &::-webkit-scrollbar-thumb { background: #222; }
      & {
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-width: 6px;
        scrollbar-color: #222 #333;
      }
      &.container { padding: 0 16px; }
    }
    &.main-content-open #main { margin-left: 0; }
    #main-content-toggle { display: block; width: 24px; height: 48px; position: absolute; left: 408px; top: 50%; margin-top: -24px; background: $color-accent; @include z-level-2;
      border-top-right-radius: 2px; border-bottom-right-radius: 2px; margin-left: -408px; transition: margin .2s;
      a { display: block; width: 24px; height: 48px; padding: 12px 0; color: $color-text-light-highlighted; }
      i { transition: transform 0.5s ease; }
    }
    &.main-content-open #main-content-toggle { margin-left: 0;
      i { transform: rotate(180deg); }
    }
  }
  .region-content { padding-top: 64px; }
}

h1, .h1 { font-size: 24px; line-height: 32px; font-weight: 600; margin-bottom: 8px; color: $color-text-light-highlighted; }
h2, .h2 { font-size: 20px; line-height: 30px; font-weight: 600; margin-top: 16px; margin-bottom: 8px; color: $color-text-light-highlighted; }
h3, .h3 { font-size: 18px; line-height: 30px; font-weight: 600; margin-top: 16px; margin-bottom: 8px; color: $color-text-light-highlighted; }
h4, .h4 { font-size: 16px; line-height: 28px; font-weight: 600; margin-top: 16px; margin-bottom: 8px; color: $color-text-light-highlighted; }
h5, .h5 { font-size: 14px; line-height: 28px; font-weight: 600; margin-top: 16px; margin-bottom: 8px; color: $color-text-light-highlighted; }
h6, .h6 { font-size: 12px; line-height: 24px; font-weight: 600; margin-top: 16px; margin-bottom: 8px; color: $color-text-light-highlighted; }

h1, .h1, h2, .h2 {
  & + h1, & + h2, & + h3, & + h4, & + h5, & + h6 { margin-top: -4px; }
}

th { font-weight: 600; }

.mark { vertical-align: baseline; font-size: 16px; }

.cl-tag { display: inline-block; background: $color-primary-active; padding: 0 8px; border-radius: 2px; line-height: 20px; font-size: 14px; font-weight: 600; }

.form-item {
  &.focused label { color: $color-primary; }
  input[type="text"], input[type="email"], input[type="password"], input[type="search"], input[type="tel"], textarea, select {
    &:focus, &.error:focus { border-color: $color-primary; }
  }
  input[type="checkbox"]:checked:before { color: $color-primary; }
  input[type="radio"]:checked:before { color: $color-primary; }
}

.form-item input,
.form-item textarea,
.form-item select {
  font-weight: 500;
}

.search-api-autocomplete-suggestion .autocomplete-suggestion-user-input {
  font-weight: 600;
}

.search-api-autocomplete-suggestion .autocomplete-suggestion-suggestion-suffix {
  font-weight: 500;
}

/* additional helpers */

.mt-m20 { margin-top: -20px !important; }
.pt-36 { padding-top: 36px !important; }

/* maps */
#gmap-msk, #gmap-spb { width: 100%; height: 100%; position: absolute; top: 0; bottom: 0; left: 0; right: 0; color: $color-text; }

.gm-style-mtc { margin: 8px !important; top: 4px + 52px !important; right: 0 !important; width: 96px !important;
  // div[role="button"] { padding-top: 10px !important; padding-bottom: 10px !important; line-height: 20px !important; }
  button { width: 100%;
    img { right: 12px !important; }
  }
}
.gm-bundled-control { right: 38px !important; }
.gm-style .gm-style-iw { font-size: 16px; line-height: 1.5; font-family: $font-family; font-weight: 500;
  & a { color: darken($color-primary, 10);
    &:hover { color: darken($color-primary, 15) }
  }
}
@include breakpoint(536px) {
  .gm-style-mtc { top: 4px !important; }
}
@include breakpoint($md) {
  .gm-style-mtc { right: 112px !important; }
}

#navbar { position: relative; padding: 8px; }
.navbar-item.navbar-menu-toggle { z-index: 16; margin: 0; position: absolute; left: 8px; }
#navbar-menu-toggle { margin: 0;
  a { width: 56px; padding: 12px 16px; }
  .navbar-icon { color: $color-text; }
}

/* search */
.block-search-combo { width: 100%; position: relative; z-index: 15; max-width: $search; margin: 0;
  form { display: block; width: 100%; max-width: $search; height: 48px; padding: 0;
    .form-item { margin: 0; background: #FFF; border-radius: 2px; transition: box-shadow .2s; position: relative; display: block; @extend .z-level-1;
      input[type="text"] { background: none; margin: 0; padding: 4px 68px; height: 48px; line-height: 40px; border: 0; color: $color-text;
        &::placeholder { color: $color-text-disabled; }
      }
    }
    .form-item.focused { @extend .z-level-2; }
    .form-actions { position: absolute; top: 0; right: 0;
      button { appearance: none; width: 56px; height: 48px; background: none; border: 0; margin: 0; padding: 12px 16px; line-height: 24px; display: block; outline: none; cursor: pointer; }
    }
  }
}

.ui-autocomplete.ui-widget.ui-widget-content {
  .ui-menu-item a { padding: 8px 68px 8px 68px; }
}

/* navbar metro menu */
#block-navbar-metro { position: relative; margin-right: 4px; display: none; }
#navbar-metro-menu-toggle {
  a { display: block; height: 48px; width: 48px; padding: 8px; }
  .navbar-icon { width: 32px; height: 32px; margin: 0; display: block; background: url(../img/graphic.svg) no-repeat; background-size: auto 32px; }
  .root-spb & .navbar-icon, .path-spb & .navbar-icon { background-position: -32px 0; }
}
#navbar-metro-menu { right: 8px; margin-top: 8px; width: 206px;
  a { padding-left: 72px; position: relative; color: $color-text-light-highlighted; font-weight: 600;
    &:before { content: " "; display: block; height: 40px; width: 40px; position: absolute; top: 50%; margin-top: -20px; left: 16px;
      background: url(../img/graphic.svg) no-repeat; background-size: auto 40px; }
  }
  a[href="/spb"] {
    &:before { background-position: -40px 0; }
  }
}
@include breakpoint($md) {
  #block-navbar-metro { display: block; }
}

/* navbar share menu */
.navbar-item.navbar-share { position: relative; margin-left: -12px; margin-right: -12px; display: none; }
#navbar-share-toggle {
  .navbar-transparent & .navbar-icon { color: $color-text-light-highlighted; }
}
#navbar-share-menu { right: 8px; margin-top: 8px;
  .share-item { position: relative; padding: 16px 16px 16px 72px; color: $color-text-light-highlighted; font-weight: 600; }
  .share-icon { position: absolute; display: inline-block; width: 40px; height: 40px; padding: 8px; border-radius: 50%; left: 16px; top: 8px; }
  .services-icon, .material-icon { display: inline-block; }
  .icon-light { color: $color-text-light-highlighted; }
  .twitter { background: #1da1f2; }
  .facebook { background: #3B5998; }
  .google-plus { background: #dd4b39; }
  .vk { background: #507299; }
  .email { background: #616161; }
}
@include breakpoint($md) {
  .navbar-item.navbar-share { display: block; }
}

/* footer */
.layout-map .footer-item.footer-credits { display: none; }

.d-logo { display: flex; align-items: center;
  span { margin-right: 8px; }
  a { display: block; width: 100px; height: 18px; background: url(../img/graphic.svg) -36px 0 no-repeat; background-size: auto 18px;
    span { display: none; }
  }
}

@include breakpoint($md) {
  .layout-map .footer-item.footer-credits { display: block; }
}

/* drawer */
#drawer-title {
  a { display: inline-block; width: 102px; height: 24px; background: url(../img/graphic.svg) -184px 0 no-repeat; background-size: auto 24px;
    span { display: none; }
  }
}

#drawer {
  .menu li a { font-weight: 600; }
}

#block-drewer-menu-metro { position: relative; height: 128px; background: $color-bg-dark-bar;
  .menu li {
    a { position: absolute;
      &:hover { background: none !important; }
    }
    a { padding-top: 56px; padding-bottom: 8px;
      &:before { content: " "; display: block; height: 40px; width: 40px; position: absolute; top: 8px;
        background: url(../img/graphic.svg) no-repeat; background-size: auto 40px; }
    }
    a[href="/spb"] {
      &:before { background-position: -40px 0; }
    }
    body:not(.root-spb):not(.path-spb) & a[href="/spb"] { right: 24px; height: 32px; width: 32px; overflow: hidden; padding: 0; top: 16px; z-index: 10; color: transparent;
      &:before { height: 32px; width: 32px; top: 0; background: url(../img/graphic.svg) -32px 0 no-repeat; background-size: auto 32px; }
    }
    .root-spb & a[href="/msk"], .path-spb & a[href="/msk"] { right: 24px; height: 32px; width: 32px; overflow: hidden; padding: 0; top: 16px; z-index: 10; color: transparent;
      &:before { height: 32px; width: 32px; top: 0; background: url(../img/graphic.svg) 0 0 no-repeat; background-size: auto 32px; }
    }
  }
}

// Messages improvementst
.messages-wrapper {
  position: fixed;
  bottom: 8px;
  left: 16px;
  right: 16px;
  z-index: 20;

  @include breakpoint($xs) {
    left: 24px;
    right: 24px;
  }
}

.messages-status,
.messages-warning,
.messages-error {
  padding-right: 56px;
  max-width: 944px;

  .messages-close {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 48px;
    height: 48px;
    padding: 12px;
    cursor: pointer;
  }
}

/* page styles */
#block-node-image,
.article-image { margin: 0 -24px;
  .img-responsive  { margin-top: -88px; width: 100%; }
  .img-responsive-wrapper img { margin-top: -88px; width: 100%; height: auto; max-width: 100%; }
}

.navigation-secondary { margin-top: 8px;
  .nav-prev { width: 50%; float: left; padding-right: 8px;
    a { padding-left: 24px;  position: relative; display: block; word-wrap: break-word;
      &:before { @extend .material-icons; content: "chevron_left"; font-size: 16px; position: absolute; left: 0; top: 4px; }
    }
  }
  .nav-next { width: 50%; float: right; text-align: right; padding-left: 8px;
    a { padding-right: 24px; position: relative; display: block; word-wrap: break-word;
      &:after { @extend .material-icons; content: "chevron_right"; font-size: 16px; position: absolute; right: 0; top: 4px; }
    }
  }
  .nav-parent {
    a { padding-left: 24px; position: relative; display: block;
      &:before { @extend .material-icons; content: "keyboard_arrow_up"; font-size: 16px; position: absolute; left: 0; top: 4px; }
    }
  }
}

.navigation-secondary + .article-title {
  h1 { margin-top: 8px; }
  .line-label { margin-top: 14px; }
}

.line-group {
  .field { display: inline; }
  .field-name-field-line .field-item:after { content: ","; }
}

.field-label {
  font-weight: 600;
  color: $color-text-light-highlighted;
}

.field-label-inline > {
  .field-label:after { content: ":"; }
  .field-items > .field-item:not(:last-child):after { content: ","; }
}
.field-label-above > {
  .field-label:after { content: ":"; }
}

.field-name-field-ex-line,
.field-name-field-ex-name {
  .field-name-field-title, .field-name-field-line { display: inline; }
  .field-name-field-date-until, .field-name-field-date-until-text { color: $color-text-light-secondary; display: inline-flex;
    &:before { content: "("; }
    &:after { content: ")"; }
    .field-label { font-weight: normal; text-transform: lowercase; color: $color-text-light-secondary;
      &:after { content: "\00A0"; }
    }
  }
}

.field-name-field-serviced-lines {
  .field-name-field-line { display: inline; }
  .field-name-field-date-since { color: $color-text-light-secondary; display: inline-flex;
    &:before { content: "("; }
    &:last-child:after { content: ")"; }
    .field-label { font-weight: normal; text-transform: lowercase; color: $color-text-light-secondary;
      &:after { content: "\00A0"; }
    }
  }
  .field-name-field-date-until { color: $color-text-light-secondary; display: inline-flex;
    &:after { content: ")"; }
    .field-label { font-weight: normal; text-transform: lowercase; color: $color-text-light-secondary;
      &:after { content: "\00A0"; }
    }
  }
}

.article-subheading { margin-bottom: 24px; }
.article-section { margin: 0 -16px; padding: 24px 16px; border-top: 1px solid $color-light-divider; }
.article-images { margin: 0 -16px; padding: 24px 3px; border-top: 1px solid $color-light-divider; display: flex; flex-wrap: wrap;
  .field-item { margin: 3px; width: 128px; height: 86px; }
}
.article-list { margin: 0 -16px -1px; padding: 0 16px; border-top: 1px solid $color-light-divider;
  li:not(:last-child) { margin-bottom: 4px; }
  .item-list {
    .views-field-title { margin-right: 4px; }
  }
}

.field-transfer {
  .field-item { display: inline-flex; }
}

.line-depots { color: $color-text-light-secondary;
  * { display: inline; }
}

.field-name-field-image {
  img { @extend .img-responsive; }
}
.field-name-field-scheme {
  a { display: flex; justify-content: center; align-items: center; width: 128px; height: 86px; background: #FFF; }
  img { flex: 1; max-width: 100%; max-height: 100%; }
}
img.pswp__img[src $='.svg'] { background: #FFF; }

article .field-name-body:not(:first-child) { margin-top: 12px; }

.table-list tbody tr { cursor: pointer; }

@include breakpoint($md) {
  .article-images { width: 408px; }
}

@include breakpoint(max-width $max-xs) {
  .table-responsive-wrapper { margin-left: -16px; margin-right: -16px; border-bottom: 1px solid $color-light-divider; box-shadow: none; border-radius: 0; }
}

@include breakpoint(max-width $max-md) {
  .table-list { margin-top: 0; margin-bottom: 0;
    thead { display: none; }
    tr { display: block; padding: 12px 16px; }
    td { display: block; padding: 0; }
  }
  .view-stations, .view-depots, .view-bridges {
    .views-field-field-date-open { display: none; }
  }
  .view-depots {
    .views-field-field-subtitle { min-height: 24px; }
  }
  .view-statistics {
    tr { position: relative; padding-right: 56px; }
    .views-field-title { min-height: 48px; }
    .views-field-nid { position: absolute; top: 16px; right: 16px; }
  }
}
@include breakpoint($xs $max-md) {
  .table-list {
    tr { display: block; padding: 12px 24px; }
  }
  //.table-responsive-wrapper { margin-left: -24px; margin-right: -24px; }
  .view-statistics {
    tr { padding-right: 64px; }
    .views-field-nid { right: 24px; }
  }
}

.card-results {
  .card-result { padding: 12px 16px; cursor: pointer;
    &:hover { background: $color-bg-dark-hover; }
  }
  .card-item:not(:last-child) { border-bottom: 1px solid $color-light-divider; }

  .card-no-result { padding: 12px 16px;
    &.card-item:not(:last-child) { border-bottom: 0; }
  }
}

@include breakpoint($xs) {
  .table-responsive-wrapper, .table-list { border-radius: 2px; }
  .card-results .card-result { padding: 12px 24px; }
  .card-results .card-result:first-child, .card-results .contextual + .card-result { border-top-left-radius: 2px; border-top-right-radius: 2px; }
}

@include breakpoint($sm) {
  .card-main.card-results { margin-top: 16px; margin-bottom: 16px; }
}

@include breakpoint($md) {
  .view-statistics .views-field-nid { width: 240px; }
}

.title-with-label { white-space: nowrap;
  & > a { display: inline-block; padding-left: 26px; position: relative; }
  .line-label { position: absolute; left: 1px; top: 3px; }
}

.line-label { display: inline-flex !important; border-radius: 50%; width: 18px; height: 18px; position: relative; margin-right: -4px;
  align-items: center; justify-content: center; vertical-align: text-bottom;
  &:before { position: absolute; font-size: 13px; content: attr(data-label); text-align: center; font-weight: 600; color: #FFF; line-height: 18px; height: 18px; width: 18px; }
  &.line-msk-1 { background: $color-msk-1; }
  &.line-msk-2 { background: $color-msk-2; }
  &.line-msk-3 { background: $color-msk-3; }
  &.line-msk-4 { background: $color-msk-4; }
  &.line-msk-5 { background: $color-msk-5; }
  &.line-msk-6 { background: $color-msk-6; }
  &.line-msk-7 { background: $color-msk-7; }
  &.line-msk-8 { background: $color-msk-8; }
  &.line-msk-9 { background: $color-msk-9; }
  &.line-msk-10 { background: $color-msk-10; }
  &.line-msk-11,
  &.line-msk-111 { background: $color-msk-11; }
  &.line-msk-12 { background: $color-msk-12; }
  &.line-msk-14 { background: $color-msk-inner; border: 1px solid $color-msk-14; }
  &.line-msk-15 { background: $color-msk-15; }
  &.line-msk-16 { background: $color-msk-16; }
  &.line-msk-17 { background: $color-msk-17; }
  &.line-msk-18 { background: $color-msk-18; }

  &.line-msk-10,
  &.line-msk-11,
  &.line-msk-12,
  &.line-msk-15,
  &.line-msk-16,
  &.line-msk-17,
  &.line-msk-18 {
    &:before { font-size: 12px; }
  }

  &.line-msk-111,
  &.line-msk-14 {
    &:before { font-size: 11px; }
  }

  &.line-msk-8,
  &.line-msk-14 {
    &:before { color: #000; }
  }

  &.line-spb-1 { background: $color-spb-1; }
  &.line-spb-2 { background: $color-spb-2; }
  &.line-spb-3 { background: $color-spb-3; }
  &.line-spb-4 { background: $color-spb-4; }
  &.line-spb-5 { background: $color-spb-5; }
  &.line-spb-6 { background: $color-spb-6; }

  &.line-msk-21,
  &.line-msk-22,
  &.line-msk-23,
  &.line-msk-24 { width: 22px;
    &:before { z-index: 2; font-size: 12px; line-height: 17px; }
    &:after { position: absolute; z-index: 1; display: block; content: ''; width: 22px; height: 14px; transform: skew(-20deg); border-radius: 2px; }
  }
  &.line-msk-21 {
    &:after { background: $color-msk-d1; }
  }
  &.line-msk-22 {
    &:after { background: $color-msk-d2; }
  }
  &.line-msk-23 {
    &:after { background: $color-msk-d3; }
  }
  &.line-msk-24 {
    &:after { background: $color-msk-d4; }
  }
  &.line-msk-25 {
    &:after { background: $color-msk-d5; }
  }
}

.article-title { display: flex; justify-content: space-between;
  h1 > span { display: inline-block; }
  .line-label { width: 24px; height: 24px; flex: 0 0 auto; margin-right: 0; margin-left: 24px;
    &:before { width: 24px; height: 24px; font-size: 16px; line-height: 23px; }
    &.line-msk-10,
    &.line-msk-11,
    &.line-msk-12,
    &.line-msk-15,
    &.line-msk-16 {
      &:before { font-size: 15px; }
    }
    &.line-msk-111 {
      &:before { font-size: 13px; }
    }
    &.line-msk-14 {
      &:before { width: 18px; height: 18px; border-radius: 50%; border: 1px solid $color-msk-14; font-size: 13px; line-height: 18px; }
    }
    &.line-msk-21,
    &.line-msk-22,
    &.line-msk-23,
    &.line-msk-24 { width: 28px;
      &:before { font-size: 14px; line-height: 23px; }
      &:after { width: 28px; height: 18px; }
    }
  }
}

.status-future.title-composite > span:last-child:after,
.status-future:not(.title-composite):after,
.status-past.title-composite > span:last-child:after,
.status-past:not(.title-composite):after { color: $color-accent; }

.status-future.title-composite > span:last-child:after,
.status-future:not(.title-composite):after { content: '*'; }
.status-past.title-composite > span:last-child:after,
.status-past:not(.title-composite):after { display: inline-block; content: '×'; vertical-align: super; font-size: 80%; margin-top: -8px; }

.stage-date { color: $color-text-light-secondary;
  div { display: inline; }
  time:after, .field-name-field-expected-open:after { content: ":"; }
}

.line-stations {
  padding-left: 0;
  list-style: none;

  li.station {
    padding-left: 40px;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 0;
      padding-bottom: 8px;
    }

    .line-marker,
    .station-marker {
      position: absolute;
    }

    .line-marker {
      width: 8px;
      top: 8px;
      left: 12px;
      bottom: -8px;
      z-index: 2;
    }

    .station-marker {
      left: 18px;
      width: 10px;
      height: 8px;
      top: 8px;
      z-index: 3;
    }

    &:first-child,
    &:last-child,
    &.station-end,
    &.station-end-first,
    &.station-end-last {
      .station-marker {
        width: 24px;
        left: 4px;
      }
    }

    &:first-child,
    &.station-end-first {
      .line-marker {
        top: 14px;
      }
    }

    &:last-child,
    &.station-end-last {
      .line-marker {
        height: 2px;
        bottom: auto;
      }
    }

    &.station-transfer {
      .station-marker {
        width: 24px !important;
        height: 24px !important;
        border-radius: 50%;
        border: 4px solid #444 !important;
        background: #FFF !important;
        top: 0 !important;
        left: 4px !important;
        z-index: 3 !important;
      }

      &.station-inactive,
      &.station-inactive-tmp {
        .station-marker {
          border-color: #2f3132 !important;
          background: #888689 !important;
        }
      }
    }

    &.station-inactive,
    &.station-inactive-tmp {
      .station-marker { z-index: 1; }
    }

    &.station-closed,
    &.station-no-line {
      .line-marker {
        background: none !important;
      }
    }

    &.station-closed {
      &, &:last-child {
        .station-marker {
          width: 8px;
          left: 20px;
        }
      }
    }

    &.station-fork-reverse,
    &.station-fork-forward,
    &.station-alter-prev,
    &.station-alter-next {
      .line-marker:before {
        display: block;
        content: '';
        box-sizing: border-box;
        width: 20px;
        height: 32px;
        border-right: 8px solid;
        position: absolute;
        right: 0;
      }
    }

    &.station-fork-reverse,
    &.station-alter-prev {
      .line-marker:before {
        border-top: 8px solid;
        border-top-right-radius: 16px;
        top: -24px;
      }
    }

    &.station-end-last + .station-alter-prev {
      margin-top: 8px;
    }

    &.station-fork-forward,
    &:has(+ .station-fork-reverse) {
      min-height: 48px;
    }

    &.station-fork-forward,
    &.station-alter-next {
      .line-marker:before {
        border-bottom: 8px solid;
        border-bottom-right-radius: 16px;
        top: 0;
      }
    }

    &.station-alter-prev:first-child,
    &.station-alter-next:last-child {
      .station-marker {
        left: 18px;
        width: 10px;
      }
    }

    &.station-alter-prev:first-child {
      .line-marker {
        top: 8px;
      }
    }

    &.station-alter-next:last-child {
      .line-marker {
        height: 8px;
      }
    }
  }

  // msk-14, msk-d1, msk-d2, msk-d3, msk-d4, msk-d5
  .line-381 &, .line-669 & , .line-670 &, .line-783 &, .line-826 &, .line-876 & {
    li.station {
      .line-marker,
      .station-marker {
        background: $color-msk-inner;
        border-style: solid;
      }

      .line-marker {
        border-left-width: 2px;
        border-right-width: 2px;
      }

      .station-marker {
        border-top-width: 2px;
        border-right-width: 2px;
        border-bottom-width: 2px;
      }

      &.station-inactive { .line-marker, .station-marker { background: $color-msk-inner-disabled; } }
      &.station-inactive-tmp { .station-marker { background: $color-msk-inner-disabled; } }
      &.station-inactive-line { .line-marker { background: $color-msk-inner-disabled; } }
      &.station-active-line { .line-marker { background: $color-msk-inner; } }

      &:first-child,
      &:last-child,
      &.station-end,
      &.station-end-first,
      &.station-end-last {
        .station-marker {
          border-left-width: 2px;
          z-index: 1;
        }
      }

      &.station-closed,
      &.station-no-line:not(.station-end-last) {
        .line-marker {
          border-color: transparent !important;
        }
      }

      &.station-closed {
        .station-marker {
          background: $color-msk-inner-disabled;
        }
      }

      &.station-no-line.station-end-last {
        .line-marker {
          background: $color-msk-inner !important;
        }
      }

      &.station-fork-reverse,
      &.station-fork-forward,
      &.station-alter-prev,
      &.station-alter-next {
        .line-marker:before {
          right: -2px;
          z-index: 1;
        }

        .line-marker:after {
          display: block;
          content: '';
          box-sizing: border-box;
          width: 18px;
          height: 30px;
          border-right: 4px solid;
          position: absolute;
          right: 0;
          border-color: $color-msk-inner !important;
          z-index: 2;
        }
      }

      &.station-fork-reverse,
      &.station-alter-prev {
        .line-marker:after {
          border-top: 4px solid;
          border-top-right-radius: 15px;
          top: -22px;
        }
      }

      &.station-alter-prev {
        .line-marker:before {
          height: 26px;
        }
        .line-marker:after {
          height: 24px;
        }
      }

      &.station-fork-forward,
      &.station-alter-next {
        .line-marker {
          z-index: auto;
        }
        .line-marker:before {
          z-index: -1;
        }
        .line-marker:after {
          border-bottom: 4px solid;
          border-bottom-right-radius: 14px;
          top: 0;
        }
      }

      &.station-alter-prev:first-child,
      &.station-alter-next:last-child {
        .station-marker {
          z-index: 3;
          border-left: 0;
        }
      }
    }
  }

  // Line node ID, line color, line color disabled.
  $lines:
    3 $color-msk-1 $color-msk-1-disabled,
    13 $color-msk-2 $color-msk-2-disabled,
    12 $color-msk-3 $color-msk-3-disabled,
    57 $color-msk-4 $color-msk-4-disabled,
    88 $color-msk-5 $color-msk-5-disabled,
    102 $color-msk-6 $color-msk-6-disabled,
    128 $color-msk-7 $color-msk-7-disabled,
    153 $color-msk-8 $color-msk-8-disabled,
    170 $color-msk-9 $color-msk-9-disabled,
    171 $color-msk-10 $color-msk-10-disabled,
    382 $color-msk-11 $color-msk-11-disabled,
    173 $color-msk-12 $color-msk-12-disabled,
    383 $color-msk-15 $color-msk-15-disabled,
    740 $color-msk-16 $color-msk-16-disabled,
    877 $color-msk-17 $color-msk-17-disabled,
    878 $color-msk-18 $color-msk-18-disabled,
    265 $color-spb-1 $color-spb-1-disabled,
    266 $color-spb-2 $color-spb-2-disabled,
    267 $color-spb-3 $color-spb-3-disabled,
    268 $color-spb-4 $color-spb-4-disabled,
    269 $color-spb-5 $color-spb-5-disabled,
    270 $color-spb-6 $color-spb-6-disabled;

  $lines-outlined:
    381 $color-msk-14 $color-msk-14-disabled,
    669 $color-msk-d1 $color-msk-d1-disabled,
    670 $color-msk-d2 $color-msk-d2-disabled,
    783 $color-msk-d3 $color-msk-d3-disabled,
    826 $color-msk-d4 $color-msk-d4-disabled,
    876 $color-msk-d5 $color-msk-d5-disabled;

  @each $line in $lines {
    $line-id: nth($line, 1);
    $line-color: nth($line, 2);
    $line-color-disabled: nth($line, 3);

    .line-#{$line-id} & {
      li.station { .line-marker, .station-marker { background: $line-color; color: $line-color; } }
      li.station.station-inactive .line-marker,
      li.station.station-inactive .station-marker,
      li.station.station-inactive-tmp .station-marker,
      li.station.station-inactive-line .line-marker,
      li.station.station-closed .station-marker { background: $line-color-disabled; }
      li.station.station-active-line .line-marker { background: $line-color; }
    }
  };

  @each $line in $lines-outlined {
    $line-id: nth($line, 1);
    $line-color: nth($line, 2);
    $line-color-disabled: nth($line, 3);

    .line-#{$line-id} & {
      li.station { .line-marker, .station-marker { border-color: $line-color; color: $line-color; } }
      li.station.station-inactive .line-marker,
      li.station.station-inactive .station-marker,
      li.station.station-inactive-tmp .station-marker,
      li.station.station-inactive-line .line-marker,
      li.station.station-closed .station-marker { border-color: $line-color-disabled; }
      li.station.station-active-line .line-marker { border-color: $line-color; }
    }
  };
}

/* Login page */

.user-login-form {
  margin-top: 24px;
  margin-bottom: 24px;
}

/* maintenance page */

.maintenance-page {
  background: $color-bg-dark;
  color: $color-text-light;
}

/* tmp */
.region-before-main .contextual-region { position: static; }

.toolbar-vertical {
  .gm-style-mtc { top: 4px + 39px + 52px !important; }
  .maplibregl-ctrl-top-right { top: 64px + 39px; }
  &.layout-map .region-content { padding-top: 64px + 39px; }

  &.toolbar-tray-open.admin-toolbar.navbar-fixed {
    #navbar { left: 240px; right: 0; width: auto; }
  }
}

.toolbar-horizontal {
  .gm-style-mtc { top: 4px + 39px + 52px !important; }
  .maplibregl-ctrl-top-right { top: 64px + 39px; }
  &.layout-map .region-content { padding-top: 64px + 39px; }
  &.toolbar-tray-open {
    .gm-style-mtc { top: 4px + 79px + 52px !important; }
    .maplibregl-ctrl-top-right { top: 64px + 79px; }
    &.layout-map .region-content { padding-top: 64px + 79px; }
  }
  &.toolbar-tray-open.toolbar-compact {
    .gm-style-mtc { top: 4px + 39px + 52px !important; }
    .maplibregl-ctrl-top-right { top: 64px + 39px; }
    &.layout-map .region-content { padding-top: 64px + 39px; }
  }
  &.toolbar-tray-open.admin-toolbar {
    .gm-style-mtc { top: 4px + 80px + 52px !important; }
    .maplibregl-ctrl-top-right { top: 64px + 80px; }
    &.layout-map .region-content { padding-top: 64px + 80px; }
  }
  &.toolbar-tray-open.admin-toolbar.toolbar-compact {
    .gm-style-mtc { top: 4px + 40px + 52px !important; }
    .maplibregl-ctrl-top-right { top: 64px + 40px; }
    &.layout-map .region-content { padding-top: 64px + 40px; }
  }
}

@include breakpoint(536px) {
  .toolbar-vertical {
    .gm-style-mtc { top: 4px + 39px !important; }
  }

  .toolbar-horizontal {
    .gm-style-mtc { top: 4px + 39px !important; }
    &.toolbar-tray-open {
      .gm-style-mtc { top: 4px + 79px !important; }
    }
    &.toolbar-tray-open.toolbar-compact {
      .gm-style-mtc { top: 4px + 39px !important; }
    }
    &.toolbar-tray-open.admin-toolbar {
      .gm-style-mtc { top: 4px + 80px !important; }
    }
    &.toolbar-tray-open.admin-toolbar.toolbar-compact {
      .gm-style-mtc { top: 4px + 40px !important; }
    }
  }
}

.contextual + .card-item { margin-top: -24px; }
.card-main {
  .contextual + .card-item { margin-top: -$gutter * 0.75; }
}

@include breakpoint($xs) {
  .card-main {
    .contextual + .card-item { margin-top: -24px; }
  }
}

.pswp__caption__center { text-align: center; }


