@charset "UTF-8";

@import "../../contrib/material_base/sass/color-palette";
@import "variables";
@import "../../contrib/material_base/sass/variables";
@import "../../contrib/material_base/sass/theme-dark";

.theme-dark {
  a { @include link-colors($color-primary-light, $color-primary-light-hover, $color-primary-light-active); }

  .toolbar-tray a { @include link-colors(#565656, #000, #000); }

  article a[href^="#"]:not([href="#"]):not(.btn) { border-color: $color-primary-light;
    &:hover { border-color: $color-primary-light-hover; }
    &:active { border-color: $color-primary-light-active; }
  }

  article blockquote { border-color: $color-accent-light; }

  .form-item {
    &.focused label { color: $color-primary-light }
    input[type="text"], input[type="email"], input[type="password"], input[type="search"], input[type="tel"], textarea, select {
      &:focus, &.error:focus { border-bottom-color: $color-primary-light }
    }
    input[type="checkbox"]:checked:before { color: $color-primary-light }
    input[type="radio"]:checked:before { color: $color-primary-light }
  }

  #drawer {
    .menu li a { color: $color-text-light-highlighted;
      &.icon-left:before { color: $color-text-light-highlighted; }
      &.icon-right:after { color: $color-text-light-highlighted; }
    }

    .menu .active-trail a,
    .menu .is-active {
      color: $color-text-light-secondary;
      &.icon-left:before { color: $color-text-light-secondary; }
      &.icon-right:after { color: $color-text-light-secondary; }
    }
  }
}

.theme-dark tr {
  border-bottom-color: $color-light-divider;
}
