{% set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
] %}

<div{{ attributes.addClass(classes) }}>
  {% if header %}
    <header>
      {{ header }}
    </header>
  {% endif %}

  {% if rows -%}
    <ul class="line-stations">
      {{ rows }}
    </ul>
  {% elseif empty -%}
    {{ empty }}
  {% endif %}
</div>
