{% set classes = [
  'field',
  'field-name-' ~ field_name|clean_class,
  'field-type-' ~ field_type|clean_class,
  'field-label-custom',
  'field-transfer',
] %}

<div{{ attributes.addClass(classes) }}>
  <span{{ title_attributes.addClass('field-label') }}>{{ element['#view_mode'] == 'list_item' ? 'Ground transfer'|t : label }}:</span>
  <span class="field-items">
    {% for item in items %}
      <span{{ item.attributes.addClass('field-item') }}>{{ item.content }}</span>{% if not loop.last %}, {% endif %}
    {% endfor %}
  </span>
</div>
