<div id="page" class="layout-container">

  <div id="navbar">
    {{ page.navbar }}
  </div>

  <div id="drawer-overlay"></div>
  <div id="drawer">
    {{ page.drawer }}
  </div>

  <header id="header" role="banner">
    <div id="header-content">
      {{ page.header }}
    </div>
    <div id="header-bg">
      {{ page.header_bg }}
    </div>
  </header>

  {% if page.actions %}
    <div id="actions">
      {{ page.actions }}
    </div>
  {% endif %}

  <div id="content">
    {% if page.before_main %}
      <div id="before-main">
        {{ page.before_main }}
      </div>
    {% endif %}

    <main role="main" id="main" class="container">
      <div id="main-content" tabindex="-1">{# link is in html.html.twig #}

        <div class="card-holder">
          {{ page.breadcrumb }}
          {{ page.highlighted }}
          {{ page.help }}

          <div class="layout-content">
            {{ page.content }}
          </div>{# /.layout-content #}

        </div>{# /.card-holder #}

        {% if page.content_secondary %}
          <div id="content-secondary">
            {{ page.content_secondary }}
          </div>
        {% endif %}
      </div>{# /#main-content #}

      {% if page.sidebar_first %}
        <aside id="sidebar-first" class="sidebar layout-sidebar-first" role="complementary">
          {{ page.sidebar_first }}
        </aside>
      {% endif %}

      {% if page.sidebar_second %}
        <aside id="sidebar-second" class="sidebar layout-sidebar-second" role="complementary">
          {{ page.sidebar_second }}
        </aside>
      {% endif %}

    </main>{# /#main #}

    {% if page.after_main %}
      <div id="after-main">
        {{ page.after_main }}
      </div>
    {% endif %}

  </div>{# /.content #}

  <footer id="footer" role="contentinfo">
    {{ page.footer }}
    <div id="footer-content">
      {# {{ page.footer_content }}  #}
      {% include "region--footer-content.html.twig" with {
        region: 'footer_content',
      } %}
    </div>
  </footer>

</div>{# /.layout-container #}
