{% set classes = [
  'region',
  'region-' ~ region|clean_class,
] %}

<div{{ attributes.addClass(classes) }}>
  <div class="navbar-item navbar-menu-toggle">
    <div id="navbar-menu-toggle"><a href="#"><i class="material-icons navbar-icon">menu</i></a></div>
  </div>

  {{ content }}

  <div class="navbar-item navbar-share pull-right">
    <div id="navbar-share-toggle" class="menu-dropdown-toggle" data-target="navbar-share-menu">
      <a href="#"><i class="material-icons navbar-icon">share</i></a>
    </div>
    <ul class="menu menu-dropdown" id="navbar-share-menu">
      <li><a class="share-item" href="https://twitter.com/intent/tweet" target="_blank" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + '&url=' + encodeURIComponent(document.URL)); yaCounter1364207.reachGoal('share'); return false;"><span class="share-icon twitter"><span class="services-icons icon-light" data-icon="twitter"></span></span>Twitter</a></li>
      <li><a class="share-item" href="https://www.facebook.com/sharer/sharer.php" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL)); yaCounter1364207.reachGoal('share'); return false;"><span class="share-icon facebook"><span class="services-icons icon-light" data-icon="facebook"></span></span>Facebook</a></li>
      <li><a class="share-item" href="https://vk.com/share.php" target="_blank" onclick="window.open('https://vk.com/share.php?url=' + encodeURIComponent(document.URL)); yaCounter1364207.reachGoal('share'); return false;"><span class="share-icon vk"><span class="services-icons icon-light" data-icon="vk"></span></span>VK</a></li>
      <li><a class="share-item" href="mailto:?subject=&body=" target="_blank" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); yaCounter1364207.reachGoal('share'); return false;"><span class="share-icon email"><span class="material-icons icon-light" data-icon="email">email</span></span>E-mail</a></li>
    </ul>
  </div>
</div>
