{% set classes = [
  'region',
  'region-' ~ region|clean_class,
] %}

<div{{ attributes.addClass(classes) }}>

  {{ content }}

  <div class="footer-item footer-credits pull-right">
    <div class="d-logo"><span>Сделано в</span> <a href="https://4d-design.pro/ru"><span>4D design</span></a></div>
  </div>

</div>
