{% set classes = [
  'region',
  'region-' ~ region|clean_class,
] %}

<div{{ attributes.addClass(classes) }}>
  <div class="drawer-item divider-bottom">
    <div id="drawer-menu-close"><a href="#"><i class="material-icons drawer-icon">arrow_back</i></a></div>
    <div id="drawer-title"><a href="/"><span>Metro2</span></a></div>
  </div>

  {{ content }}

  <div class="drawer-item">
    <ul class="menu">
      <li><a class="icon-left" data-icon="info" href="{{ path('entity.node.canonical', { node: 362 }) }}" data-drupal-link-system-path="node/362">О проекте</a></li>
    </ul>
  </div>
</div>
