.theme-dark {
  color: #e0e0e0;
  background: #101313;
}
.theme-dark a {
  color: #f90000;
}
.theme-dark a:hover {
  color: #ff1414;
}
.theme-dark a:active {
  color: #ff2d2d;
}
.theme-dark article a[href^="#"]:not([href="#"]):not(.btn) {
  border-color: #f90000;
}
.theme-dark article a[href^="#"]:not([href="#"]):not(.btn):hover {
  border-color: #ff1414;
}
.theme-dark article a[href^="#"]:not([href="#"]):not(.btn):active {
  border-color: #ff2d2d;
}
.theme-dark article blockquote {
  color: #a0a1a1;
}
.theme-dark table {
  background: #1c2121;
  border-color: #585858 !important;
}
.theme-dark tr {
  border-color: #585858;
}
.theme-dark tr.selected {
  background: #252c2c;
}
.theme-dark tr:hover, .theme-dark tr.selected:hover {
  background: #2a3131;
}
.theme-dark th {
  color: #a0a1a1;
}
.theme-dark .table-bordered {
  box-shadow: 0 0 0 1px #585858;
}
.theme-dark .table-striped tbody tr:nth-child(even) {
  background: #202626;
}
.theme-dark .table-striped tbody tr:nth-child(even):hover, .theme-dark .table-striped tbody tr.selected:nth-child(even):hover {
  background: #2a3131;
}
.theme-dark .table-striped tbody tr.selected:nth-child(even) {
  background: #252c2c;
}
.theme-dark .table-responsive td:before {
  color: #a0a1a1;
}
.theme-dark :not(pre) > code, .theme-dark pre {
  background: #000;
}
.theme-dark .ripple-effect {
  background-color: rgba(255, 255, 255, 0.1);
}
.theme-dark .text-secondary {
  color: #a0a1a1;
}
.theme-dark .text-disabled {
  color: #6b6d6d;
}
.theme-dark .text-primary, .theme-dark a.text-primary, .theme-dark a.text-primary:hover, .theme-dark a.text-primary:focus {
  color: #00b8d4;
}
.theme-dark .text-accent, .theme-dark a.text-accent, .theme-dark a.text-accent:hover, .theme-dark a.text-accent:focus {
  color: #f90000;
}
.theme-dark .material-icons.text-accent {
  color: #f90000;
}
.theme-dark .divider-top {
  border-top-color: #333333;
}
.theme-dark .divider-bottom {
  border-bottom-color: #333333;
}
.theme-dark .highlight {
  background: #000;
}
.theme-dark .info, .theme-dark .messages-error {
  background: #006064;
}
.theme-dark .info:before, .theme-dark .messages-error:before {
  color: #26c6da;
}
.theme-dark #footer {
  background: #000;
}
.theme-dark.footer-transparent #footer {
  background: none;
}
.theme-dark .btn, .theme-dark input[type=submit] {
  color: #e0e0e0;
}
.theme-dark .btn:hover, .theme-dark .btn:focus, .theme-dark input[type=submit]:hover, .theme-dark input[type=submit]:focus {
  background: rgba(204, 204, 204, 0.15);
  color: #e0e0e0;
}
.theme-dark .btn:active, .theme-dark input[type=submit]:active {
  background: rgba(204, 204, 204, 0.25);
}
.theme-dark .btn-colored, .theme-dark .btn-colored:hover, .theme-dark .btn-colored:focus,
.theme-dark .btn.btn-colored, .theme-dark .btn.btn-colored:hover, .theme-dark .btn.btn-colored:focus {
  color: #00b8d4;
}
.theme-dark .btn-accent, .theme-dark .btn-accent:hover, .theme-dark .btn-accent:focus,
.theme-dark .btn.btn-accent, .theme-dark .btn.btn-accent:hover, .theme-dark .btn.btn-accent:focus {
  color: #f90000;
}
.theme-dark .btn-raised, .theme-dark .btn.btn-raised {
  background: rgba(255, 255, 255, 0.05);
}
.theme-dark .btn-raised.btn-colored, .theme-dark .btn.btn-raised.btn-colored {
  background: #00b8d4;
  color: rgba(0, 0, 0, 0.87);
}
.theme-dark .btn-raised.btn-accent, .theme-dark .btn.btn-raised.btn-accent {
  background: #f90000;
  color: #e0e0e0;
}
.theme-dark .btn-raised.btn-colored:hover, .theme-dark .btn-raised.btn-colored:focus, .theme-dark .btn.btn-raised.btn-colored:hover, .theme-dark .btn.btn-raised.btn-colored:focus {
  background: #00ceee;
  color: rgba(0, 0, 0, 0.87);
}
.theme-dark .btn-raised.btn-colored:active, .theme-dark .btn.btn-raised.btn-colored:active {
  background: #08deff;
}
.theme-dark .btn-raised.btn-accent:hover, .theme-dark .btn-raised.btn-accent:focus, .theme-dark .btn.btn-raised.btn-accent:hover, .theme-dark .btn.btn-raised.btn-accent:focus {
  background: #ff1414;
  color: #e0e0e0;
}
.theme-dark .btn-raised.btn-accent:active, .theme-dark .btn.btn-raised.btn-accent:active {
  background: #ff2d2d;
}
.theme-dark .btn-raised.btn-colored.btn-disabled, .theme-dark .btn-raised.btn-accent.btn-disabled, .theme-dark .btn.btn-raised.btn-colored.btn-disabled, .theme-dark .btn.btn-raised.btn-accent.btn-disabled {
  background: #333333;
  color: #6b6d6d;
}
.theme-dark .btn-raised.btn-colored.btn-disabled:hover, .theme-dark .btn-raised.btn-colored.btn-disabled:focus, .theme-dark .btn-raised.btn-colored.btn-disabled:active, .theme-dark .btn-raised.btn-accent.btn-disabled:hover, .theme-dark .btn-raised.btn-accent.btn-disabled:focus, .theme-dark .btn-raised.btn-accent.btn-disabled:active, .theme-dark .btn.btn-raised.btn-colored.btn-disabled:hover, .theme-dark .btn.btn-raised.btn-colored.btn-disabled:focus, .theme-dark .btn.btn-raised.btn-colored.btn-disabled:active, .theme-dark .btn.btn-raised.btn-accent.btn-disabled:hover, .theme-dark .btn.btn-raised.btn-accent.btn-disabled:focus, .theme-dark .btn.btn-raised.btn-accent.btn-disabled:active {
  background: #333333;
  color: #6b6d6d;
}
.theme-dark .btn-disabled {
  color: #6b6d6d;
}
.theme-dark .btn-disabled:hover, .theme-dark .btn-disabled:focus, .theme-dark .btn-disabled:active {
  background: none;
  color: #6b6d6d;
}
.theme-dark .fab {
  color: #e0e0e0;
}
.theme-dark .fab:hover, .theme-dark .fab:focus {
  background: rgba(204, 204, 204, 0.15);
  color: #e0e0e0;
}
.theme-dark .fab:active {
  background: rgba(204, 204, 204, 0.25);
}
.theme-dark .fab.fab-colored {
  background: #00b8d4;
  color: rgba(0, 0, 0, 0.87);
}
.theme-dark .fab.fab-colored:hover, .theme-dark .fab.fab-colored:focus {
  background: #00ceee;
  color: rgba(0, 0, 0, 0.87);
}
.theme-dark .fab.fab-colored:active {
  background: #08deff;
}
.theme-dark .fab.fab-accent {
  background: #f90000;
  color: #e0e0e0;
}
.theme-dark .fab.fab-accent:hover, .theme-dark .fab.fab-accent:focus {
  background: #ff1414;
  color: #e0e0e0;
}
.theme-dark .fab.fab-accent:active {
  background: #ff2d2d;
}
.theme-dark .tooltip:before {
  background: rgba(255, 255, 255, 0.9);
  color: rgba(0, 0, 0, 0.87);
}
.theme-dark .form-item label, .theme-dark .form-item .description {
  color: #a0a1a1;
}
.theme-dark .form-item label.option, .theme-dark .form-item.focused label.option {
  color: #e0e0e0;
}
.theme-dark .form-item.focused label {
  color: #f90000;
}
.theme-dark .form-item input, .theme-dark .form-item textarea, .theme-dark .form-item select {
  color: #e0e0e0;
}
.theme-dark .form-item select option {
  color: rgba(0, 0, 0, 0.87);
}
.theme-dark .form-item input[type=text], .theme-dark .form-item input[type=email], .theme-dark .form-item input[type=password], .theme-dark .form-item input[type=search], .theme-dark .form-item input[type=tel], .theme-dark .form-item input[type=url], .theme-dark .form-item textarea, .theme-dark .form-item select {
  border-bottom-color: #333333;
}
.theme-dark .form-item input[type=text]:focus, .theme-dark .form-item input[type=text].error:focus, .theme-dark .form-item input[type=email]:focus, .theme-dark .form-item input[type=email].error:focus, .theme-dark .form-item input[type=password]:focus, .theme-dark .form-item input[type=password].error:focus, .theme-dark .form-item input[type=search]:focus, .theme-dark .form-item input[type=search].error:focus, .theme-dark .form-item input[type=tel]:focus, .theme-dark .form-item input[type=tel].error:focus, .theme-dark .form-item input[type=url]:focus, .theme-dark .form-item input[type=url].error:focus, .theme-dark .form-item textarea:focus, .theme-dark .form-item textarea.error:focus, .theme-dark .form-item select:focus, .theme-dark .form-item select.error:focus {
  border-bottom-color: #f90000;
}
.theme-dark .form-item input[type=text]::placeholder, .theme-dark .form-item input[type=email]::placeholder, .theme-dark .form-item input[type=password]::placeholder, .theme-dark .form-item input[type=search]::placeholder, .theme-dark .form-item input[type=tel]::placeholder, .theme-dark .form-item input[type=url]::placeholder, .theme-dark .form-item textarea::placeholder, .theme-dark .form-item select::placeholder {
  color: #6b6d6d;
}
.theme-dark .form-item input[type=radio], .theme-dark .form-item input[type=checkbox] {
  color: #a0a1a1;
}
.theme-dark .form-item input[type=checkbox]:checked:before {
  color: #f90000;
}
.theme-dark .form-item input[type=radio]:checked:before {
  color: #f90000;
}
.theme-dark .form-item.form-type-select:after {
  color: #a0a1a1;
}
.theme-dark .form-item.textarea-boxed > div {
  border-color: #333333;
}
.theme-dark .form-item.textarea-boxed.error > div {
  border-color: #f44336;
}
.theme-dark .form-item.textarea-boxed.focused > div, .theme-dark .form-item.textarea-boxed.error.focused > div {
  border-color: #f90000;
}
.theme-dark #drawer {
  background: #101313;
  border-right-color: #101313;
}
.drawer-open .theme-dark #drawer {
  border-right-color: #333333;
}
.theme-dark #drawer #drawer-menu-close a {
  color: #e0e0e0;
}
.theme-dark #drawer #drawer-title {
  color: #a0a1a1;
}
.theme-dark #drawer .menu li a {
  color: #e0e0e0;
}
.theme-dark #drawer .menu li a:hover {
  background: #2a3131;
}
.theme-dark #drawer .menu li a.icon-left:before, .theme-dark #drawer .menu li a.icon-right:after {
  color: #a0a1a1;
}
.theme-dark #drawer .menu li a.services-icon-left:before, .theme-dark #drawer .menu li a.services-icon-right:after {
  background: #a0a1a1;
}
.theme-dark #drawer .menu .active-trail a, .theme-dark #drawer .menu .is-active {
  color: #00b8d4;
}
.theme-dark #drawer .menu .active-trail a.icon-left:before, .theme-dark #drawer .menu .active-trail a.icon-right:after, .theme-dark #drawer .menu .is-active.icon-left:before, .theme-dark #drawer .menu .is-active.icon-right:after {
  color: #00b8d4;
}
.theme-dark #drawer .menu .active-trail a.services-icon-left:before, .theme-dark #drawer .menu .active-trail a.services-icon-right:after, .theme-dark #drawer .menu .is-active.services-icon-left:before, .theme-dark #drawer .menu .is-active.services-icon-right:after {
  background: #00b8d4;
}
.theme-dark .sidebar .menu li a {
  color: #e0e0e0;
}
.theme-dark .sidebar .menu li a:hover {
  background: #2a3131;
}
.theme-dark .sidebar .menu li a.is-active {
  color: #00b8d4;
}
.theme-dark .sidebar .menu .collapsed > a:after, .theme-dark .sidebar .menu .expanded > a:after {
  color: #a0a1a1;
}
.theme-dark .block-search.search-persistent form .form-item.focused input[type=text], .theme-dark .block-search.search-persistent form input[type=search] {
  color: rgba(0, 0, 0, 0.87);
}
.theme-dark .block-search.search-persistent form .form-item.focused input[type=text]::placeholder, .theme-dark .block-search.search-persistent form input[type=search]::placeholder {
  color: rgba(0, 0, 0, 0.26);
}
.theme-dark .tabs ul li a, .theme-dark ul.tabs li a {
  color: #a0a1a1;
}
.theme-dark .tabs ul li a:hover, .theme-dark ul.tabs li a:hover {
  border-color: rgba(0, 184, 212, 0.5);
}
.theme-dark .tabs ul li a.is-active, .theme-dark ul.tabs li a.is-active {
  border-color: #00b8d4;
  color: #00b8d4;
}
.theme-dark .tabs ul li a.is-active:hover, .theme-dark ul.tabs li a.is-active:hover {
  border-color: #00b8d4;
}
.theme-dark .card {
  background: #1c2121;
}
.theme-dark .card-main {
  border-bottom-color: #333333;
  background: #1c2121;
}
.theme-dark.content-card .card-holder {
  background: #1c2121;
}
.theme-dark .card-bg-primary {
  background: #00b8d4;
  color: rgba(0, 0, 0, 0.87);
}
.theme-dark .card-bg-accent {
  background: #f90000;
  color: #e0e0e0;
}
.theme-dark .collapsible-toggle:before {
  color: #a0a1a1;
}
.theme-dark .collapsible-toggle span {
  color: #f90000;
  border-color: #f90000;
}
.theme-dark .collapsible-toggle span:hover {
  color: #ff1414;
  border-color: #ff1414;
}
.theme-dark .collapsible-toggle span:active {
  color: #ff2d2d;
  border-color: #ff2d2d;
}
.theme-dark .collapsible-content {
  border-color: #333333;
}
.theme-dark .menu-dropdown {
  background: #1c2121;
}
.theme-dark .menu-dropdown li a {
  color: #e0e0e0;
}
.theme-dark .menu-dropdown li a:hover {
  background: #2a3131;
  color: #e0e0e0;
}
.theme-dark .pager .pager-item.item-ellipsis > a:before, .theme-dark .pager .pager-item.item-ellipsis > span:before, .theme-dark .pager .pager-item.item-current > a:before, .theme-dark .pager .pager-item.item-current > span:before {
  color: #6b6d6d;
}
.theme-dark .pager .pager-item.item-current > a, .theme-dark .pager .pager-item.item-current > span {
  color: #00b8d4;
}
.theme-dark .pager .pager-item.item-first > span:before, .theme-dark .pager .pager-item.item-previous > span:before, .theme-dark .pager .pager-item.item-next > span:before, .theme-dark .pager .pager-item.item-last > span:before {
  color: #6b6d6d;
}
.theme-dark .card-actions .pager .pager-item.item-previous > a:before, .theme-dark .card-actions .pager .pager-item.item-next > a:before {
  color: #e0e0e0;
}
.theme-dark .card-actions .pager-summary {
  color: #a0a1a1;
}
.theme-dark .messages-status {
  background: #1b5e20;
}
.theme-dark .messages-status:before {
  color: #66bb6a;
}
.theme-dark .messages-status a {
  color: #00c853;
}
.theme-dark .messages-status a:hover {
  color: #00d759;
}
.theme-dark .messages-status a:active {
  color: #00e760;
}
.theme-dark .messages-warning {
  background: #f57f17;
}
.theme-dark .messages-warning:before {
  color: #ffee58;
}
.theme-dark .messages-warning a {
  color: #ffff00;
}
.theme-dark .messages-warning a:hover {
  color: #ffff0f;
}
.theme-dark .messages-warning a:active {
  color: #ffff1f;
}
.theme-dark .messages-error {
  background: #b71c1c;
}
.theme-dark .messages-error:before {
  color: #e57373;
}
.theme-dark .messages-error a {
  color: #ff8a80;
}
.theme-dark .messages-error a:hover {
  color: #ff988f;
}
.theme-dark .messages-error a:active {
  color: #ffa69f;
}

.theme-dark a {
  color: #00b8d4;
}
.theme-dark a:hover {
  color: #00ceee;
}
.theme-dark a:active {
  color: #08deff;
}
.theme-dark .toolbar-tray a {
  color: #565656;
}
.theme-dark .toolbar-tray a:hover {
  color: #000;
}
.theme-dark .toolbar-tray a:active {
  color: #000;
}
.theme-dark article a[href^="#"]:not([href="#"]):not(.btn) {
  border-color: #00b8d4;
}
.theme-dark article a[href^="#"]:not([href="#"]):not(.btn):hover {
  border-color: #00ceee;
}
.theme-dark article a[href^="#"]:not([href="#"]):not(.btn):active {
  border-color: #08deff;
}
.theme-dark article blockquote {
  border-color: #f90000;
}
.theme-dark .form-item.focused label {
  color: #00b8d4;
}
.theme-dark .form-item input[type=text]:focus, .theme-dark .form-item input[type=text].error:focus, .theme-dark .form-item input[type=email]:focus, .theme-dark .form-item input[type=email].error:focus, .theme-dark .form-item input[type=password]:focus, .theme-dark .form-item input[type=password].error:focus, .theme-dark .form-item input[type=search]:focus, .theme-dark .form-item input[type=search].error:focus, .theme-dark .form-item input[type=tel]:focus, .theme-dark .form-item input[type=tel].error:focus, .theme-dark .form-item textarea:focus, .theme-dark .form-item textarea.error:focus, .theme-dark .form-item select:focus, .theme-dark .form-item select.error:focus {
  border-bottom-color: #00b8d4;
}
.theme-dark .form-item input[type=checkbox]:checked:before {
  color: #00b8d4;
}
.theme-dark .form-item input[type=radio]:checked:before {
  color: #00b8d4;
}
.theme-dark #drawer .menu li a {
  color: #FFF;
}
.theme-dark #drawer .menu li a.icon-left:before {
  color: #FFF;
}
.theme-dark #drawer .menu li a.icon-right:after {
  color: #FFF;
}
.theme-dark #drawer .menu .active-trail a,
.theme-dark #drawer .menu .is-active {
  color: #a0a1a1;
}
.theme-dark #drawer .menu .active-trail a.icon-left:before,
.theme-dark #drawer .menu .is-active.icon-left:before {
  color: #a0a1a1;
}
.theme-dark #drawer .menu .active-trail a.icon-right:after,
.theme-dark #drawer .menu .is-active.icon-right:after {
  color: #a0a1a1;
}

.theme-dark tr {
  border-bottom-color: #333333;
}
/*# sourceMappingURL=../css/theme-dark.css.map */
