<div{{ attributes }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {# Removed contextual links #}
  {% block content %}
    {{ content }}
  {% endblock %}
</div>
