{% set line_label_attributes = create_attribute({
  'data-label': node.field_line.entity.field_subtitle.value,
  'class': [
    'line-label',
    'line-' ~ node.field_metro.entity.field_machine_name.value ~ '-' ~ node.field_line.entity.field_id.value,
  ],
}) %}

{% set link_attributes = create_attribute({
  'href': url,
  'rel': 'bookmark',
}) %}

{% set status_future = [32, 34, 40, 42] %}
{% set status_past = [33, 35, 50] %}
{% set has_status = not node.field_status.isEmpty %}

{% if has_status %}
  {% if node.field_status.target_id in status_future %}
    {% set link_class = ['title-composite', 'status-future'] %}
  {% elseif node.field_status.target_id in status_past %}
    {% set link_class = ['title-composite', 'status-past'] %}
  {% endif %}
{% endif %}

<span class="title-with-label">
  <a{{ link_attributes.addClass(link_class) }}><span{{ line_label_attributes }}></span>{{ label }}</a>
</span>
