{% if not node.field_expected_open.isEmpty() %}
  <span class="stage-date">{{ content.field_expected_open }}</span>
{% else %}
  <span class="stage-date">{{ content.field_date_open }}</span>
{% endif %}
{% if (not node.field_flag.value) and (not node.field_station.isEmpty()) %}
  {% if node.field_station|length > 1 %}
    {% set stations_number = node.field_station|length %}
  {% endif %}
{% endif %}
<span class="stage-title">
  {{ label }}
  {% if stations_number %}
    {% trans %}
      ({{ stations_number }} station)
    {% plural stations_number %}
      ({{ stations_number }} stations)
    {% endtrans %}
  {% endif %}
</span>
