{% set metro = node.field_metro.entity.field_machine_name.value %}

{% set status_future = [32, 34, 40, 42] %}
{% set status_past = [33, 35, 50] %}
{% set has_status = not node.field_status.isEmpty %}
{% if has_status %}
  {% if node.field_status.target_id in status_future %}
    {% set title_class = ['title-composite', 'status-future'] %}
  {% elseif node.field_status.target_id in status_past %}
    {% set title_class = ['title-composite', 'status-past'] %}
  {% endif %}
{% endif %}

<article{{ attributes }}>

  {{ title_prefix }}

  <div class="navigation-secondary">
    <div class="nav-parent"><a href="/{{ metro }}/depots">{{ 'Depots'|t }}</a></div>
  </div>

  <div class="article-title">
    <h1{{ title_attributes.addClass(title_class) }}><span>{{ 'Depot'|t }}</span> {{ label }}</h1>
  </div>

  {{ title_suffix }}

  <div{{ content_attributes }}>
    {{ content|without('field_status', 'body') }}

    {% if not node.field_status.isEmpty %}
      <div class="field field-name-field-status field-type-entity-reference field-label-inline">
        <div class="field-label">{{ node.field_status.fieldDefinition.label }}</div>
        <div class="field-item"><a href="/{{ metro ~ '/statistics/' ~ node.field_status.entity.field_machine_name.value }}" property="schema:additionalProperty" hreflang="ru">{{ node.field_status.entity.label }}</a></div>
      </div>
    {% endif %}

    {{ content.body }}
  </div>

</article>
